* {
  padding:0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

ul {
  list-style-type: none;
  display: inline-block;
}

img {
  padding: 10px;
  max-width: 100%;
}

span {
  padding: 5px;
}

li {
  padding-bottom: 5px;
  display: inline;
}

hr {
  border: 0;
  height: 2px;
  background: #F0F0F0;
}

/*
****************
GRID
****************
*/
.grid {
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
}

.row {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/*
*****************
TYPOGRAPHY
*****************
*/

h1 {
  font-weight: normal;
  font-size: 24px;
  color: #1a1a1a;
  line-height: 48px;
  margin-top: 40px;
}

h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #2a7363;
}

h3 {
  font-weight: bold;
  font-size: 18px;
  color: #030304;
  line-height: 22px;
  display: inline-block;
  margin-top: 40px;
}

h4 {
  font-size: 16px;
  line-height: 18px;
  font-family: 'Montserrat';
  font-weight: normal;
}

a {
  font-weight: normal;
  font-size: 16px;
  display: inline;
  color: #030304;
}

a:hover {
  text-decoration: underline;
  color: #286dbe;
}

p {
  font-family: 'Merriweather';
  font-size: 15px;
  line-height: 26px;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #333;
}

.pink {
  color: #ff16bd;
  margin-right: 5px;
}

.employer {
  color: #030304;
  margin-top: 30px;
}

.date-text {
  font-size: 16px;
  line-height: 20px;
  margin: 3px 0 15px 0;
}

.serif-text {
  font-family: 'Merriweather';
  line-height: 30px;
}

.italic {
  font-style: italic;
}

.darker {
  margin-top: 20px;
  color: #1a1a1a;
  width: 50%;
}

/*
*****************
GENERAL CLASSES
*****************
*/

.clearfix {
  overflow: auto;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
}

/*
*****************
HEADER
*****************
*/

header {
  background-color: #50E3C2;
  padding-bottom: 20px;
}

.icon {
  font-family: 'FontAwesome';
  font-size: 24px;
  padding: 10px;
  color: #2A7363;
  cursor: pointer;
}

.icon:hover {
  color: #1a1a1a;
}

#topContacts {
  margin-top: 25px;
  height: 50px;
}

/*
*****************
SKILLS
*****************
*/

#skillsSection {
  margin-bottom: 20px;
  margin-left: 8.33%;
}

.skill {
  font-size: 14px;
  font-weight: bold;
  background-color: #ff16bd;
  color: #fff;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}

/*
*****************
WORK
*****************
*/

#workExperience {
  width: 66.6%;
  margin-left: 8.5%
}

/*
*****************
PROJECTS
*****************
*/

#projects {
  padding-bottom: 40px;
  width: 66.6%;
  margin-left: 8.5%
}

.forSlick {
  width: 25%;
  order: 1;
}

.project-text {
  vertical-align: top;
  padding-top: 10px;
  margin-left: 30px;
  width: 450px;
  order: 2;
}

.project-entry {
  margin-top: 30px;
  padding: 0;
}

.slick-slide {
  overflow: hidden;
}

.carousel {
  max-width: 100%;
  padding: 0;
}

.slick-prev,
.slick-next {
  font-size: 30px;
  padding: 10px;
  font-family: 'FontAwesome';
  border: none;
  background-color: transparent;
  color: #ccc;
  width: 50px;
}

.slick-prev:hover,
.slick-next:hover {
  color: #286dbe;
}

.slick-prev {
  margin-left: calc((100% - 100px) / 2 );
}

button:focus {
  outline:0;
}

/*
*****************
EDUCATION
*****************
*/

#education,
#onlineeducation {
  margin-left: 8.33%;
  margin-right: 5%;
  padding-bottom: 40px;
}

.education-entry {
  margin-top: 30px;
}

/*
*****************
MAP
*****************
*/

#map {
  margin-top: 40px;
  display: block;
  height: 100%;
  border: 1px solid #f0f0f0;
}

#mapDiv {
  height: 400px;
  width: 80%;
  padding-bottom: 40px;
}

/*
*****************
FOOTER
*****************
*/

footer {
  background-color: #50e3c2;
  padding:30px 0;
}

/*
*****************
MEDIA QUERIES
*****************
*/
@media only screen and (max-width: 960px) {
  #projects {
    width: 83.33%;
  }

  .project-text {
    width: 100%;
    margin-left: 0;
    order: 0;
  }

  .project-entry {
    padding-left: 0;
  }

  .forSlick {
    order: 2;
    width: 100%;
  }

  .carousel {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 924px) {
  .welcome {
    display: none;
  }
  #topContacts {
    margin-left: 6%;
    margin-top: 0;
  }
}

@media only screen and (max-width: 850px) {
  #workExperience {
    width: 83.33%;
  }
}

@media only screen and (max-width: 760px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  #topContacts {
    margin-top: 15px;
  }

  .biopic {
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 690px) {

}

@media only screen and (max-width: 590px) {
  #skillsSection {
    margin-left: 8%;
  }

  .pink {
    margin-right: 10px;
  }

  #skillsSection {
    flex-direction: column;
  }

  .skill {
    margin-left: 0;
  }

  .darker {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  #footerContacts {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
  }

  .icon {
    height: 50px;
  }

  footer {
    padding-bottom: 10px;
  }
}
