* {
  padding:0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}

a {
  color: #1199C3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

ul {
  list-style-type: none;
  display: inline-block;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

li {
  padding-bottom: 5px;
}

hr {
  border: 0;
  height: 2px;
  background: #F0F0F0;
}

/*
****************
GRID
****************
*/
.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/*
*****************
TYPOGRAPHY
*****************
*/

h1 {
  font-weight: normal;
  font-size: 24px;
  color: #1a1a1a;
  line-height: 48px;
  margin-top: 40px;
}

h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #2A7363;
}

h3 {
  font-weight: bold;
  font-size: 18px;
  color: #030304;
  line-height: 22px;
  display: inline-block;
}

h4 {
  font-size: 14px;
}

a {
  font-weight: normal;
  font-size: 16px;
}

p {
  font-family: 'Merriweather';
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.pink {
  color: #FF16BD;
}

.employer {
  color: #030304;
  margin-top: 30px;
}

.date-text {
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-family: 'Merriweather';
  font-size: 14px;
  line-height: 30px;
}

.serif {
  font-family: 'Merriweather';
}

/*
*****************
GENERAL CLASSES
*****************
*/

.clearfix {
  overflow: auto;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

/*
*****************
HEADER
*****************
*/

header {
  background-color: #50E3C2;
  padding-bottom: 20px;
}

.lighter{
  color: #666;
}

.icon {
  font-family: 'FontAwesome';
  padding: 5px;
}

.welcome-message {
  font-size: 18px;
  color: #1a1a1a;
  line-height: 28px;
}

.biopic {
  padding: 10px;
  display: none;
}

#topContacts {
  margin-top: 45px;
}

/*
*****************
SKILLS
*****************
*/

#skillsSection {
  margin: 10px 0;
}

.skill {
  font-size: 14px;
  font-weight: bold;
  background-color: #FF16BD;
  color: #fff;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}

/*
*****************
WORK
*****************
*/

#workExperience {
  margin-top: 40px;
}

/*
*****************
MAP
*****************
*/

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

/*
*****************
FOOTER
*****************
*/

#letsConnect {
  text-align: center;
  background-color: yellow;
}

/*
*****************
MEDIA QUERIES
*****************
*/

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;
  }
}
